@font-face {
	font-family: 'iransansweb';
	src: url('IRANSansWeb_Bold.eot') format('eot'), /* IE6-8 */ url('IRANSansWeb_Bold.woff2') format('woff2'), /* Chrome36+, Opera24+ */ url('IRANSansWeb_Bold.woff') format('woff'); /* FF3.6+,IE9,Chrome6+,Saf5.1+ */
}
* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
body {
    font-family: arial;
    background-color: #000;
    margin: 0;
}
.header {
    text-align: center;
    /*background-color: black;*/
    background-image: url(header4.jpg);
}
.navbar {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background-color: #17223b;
}
.navbar a {
    font-family: 'iransansweb';
    color: white;
    text-align: center;
    display: inline;
    padding: 8px 15px;
    font-size: 15px;
}
.topnav {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    /*background-color: #24262b;*/
    background-color: #17223b;
    position: sticky;
}
.topnav a {
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: all ease 0.2s;
}
.topnav a:hover {
    background-color: #c12127;
    color: white;
}
.navbar a:hover {
    background-color: #c12127;
    color: white;
}
.footer {
    padding: 15px;
    text-align: center;
    background-color: #17223b;
}
.footbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #17223b;
    position: sticky;
}
.footbar a {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}
.footbar i {
    padding-top: 10px;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    border-radius: 50%;
}
.leftcol {
    float: left;
    width: 75%;
    background-color: black;
    margin-top: -10px;
}
.fakeimg {
    padding: 10px;
    display: inline-block;
}
.card {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: -1px;
}
.rightcol {
    float: left;
    width: 25%;
    background-color: #000;
    padding: 3px;
    margin-top: -10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width:1200px) {
    .leftcol, .rightcol {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width:980px) {
    .leftcol, .rightcol {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width:380px) {
    .topnav {
        display: none;
    }
}
