@font-face {
	font-family: 'iransansweb';
	src: url('IRANSansWeb_Bold.eot') format('eot'), /* IE6-8 */ url('IRANSansWeb_Bold.woff2') format('woff2'), /* Chrome36+, Opera24+ */ url('IRANSansWeb_Bold.woff') format('woff'); /* FF3.6+,IE9,Chrome6+,Saf5.1+ */
}
* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
body {
    font-family: arial;
    background-color: black;
}
.header {
    text-align: center;
    /*background-color: black;*/
    background-image: url(header4.jpg);
}
.navbar {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: #a18838;
}
.navbar a {
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 8px 9px;
    font-size: 15px;
}
.topnav {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #a18838;
    position: sticky;
}
.topnav a {
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: all ease 0.2s;
}
.topnav a:hover {
    background-color: red;
    color: white;
}
.navbar a:hover {
    background-color: red;
    color: white;
}
.footer {
    padding: 15px;
    text-align: center;
    background-color: #333;
}
.footbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.footbar a {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}
.leftcol {
    float: left;
    width: 75%;
    background-color: black;
}
.fakeimg {
    padding: 10px;
    display: inline-block;
}
.card {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
}
.rightcol {
    float: left;
    width: 25%;
    background-color: black;
    padding: 5px;
    margin-top: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width:1450px) {
    .leftcol, .rightcol {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width:980px) {
    .leftcol, .rightcol {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width:380px) {
    .topnav {
        display: none;
    }
}
